.home {
    display: flex;
}

.productContainer {
    display: flex;
    width: 90%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products {
    width: 30%;
    margin: 10px;
}

.summary {
    width: 30%;
}

@media (max-width: 779px) {
    .productContainer {
        width: 58%;
        padding: 0;
        flex-direction: column;
    }
    .products {
        width: 70%;
    }
}